<header>
    <nav class="navbar">
        <div class="logo">
            <img
                src="/assets/favicon.svg"
                alt="DriveTest Logo"
                class="logo-img"
            />
            <span>Book DriveTest</span>
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links" id="nav-links">
            <li><a id="dashboardItem" href="/">Dashboard</a></li>
            <% if (authenticatedUserId && authenticatedUserType == 'driver') { %>
                <li><a id="g2Item" href="/g2-test">G2 test</a></li>
                <li><a id="gItem" href="/g-test/<%= authenticatedUsername %>">G Test</a></li>
            <% } %>
            <% if (!authenticatedUserId) { %>
                <li><a id="registerItem" href="/register">Register</a></li>
                <li><a id="loginItem" href="/login">Login</a></li>
            <% } %>

            <% if(authenticatedUserId) { %>
                <li id="logged-in-user-item">
                    <a href="/logout">Logout&nbsp;&nbsp;
                        <b id="name-item"><%= authenticatedUsername.charAt(0).toUpperCase() %></b></a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>
<script>
    const key = "<%= selectedItem %>";
    const map = {
        dashboard: "#dashboardItem",
        g2: "#g2Item",
        g: "#gItem",
        register: "#registerItem",
        login: "#loginItem",
    };
    $(map[key]).addClass("active");
</script>