<!DOCTYPE html>
<html lang="en">
<%- include('layouts/general-head'); -%>
<body>
    <!-- Header/Navbar -->
    <%- include('layouts/general-header', { 'selectedItem': 'g' } ); -%>

    <!-- G Test Section -->
    <section id="g-dashboard" class="g-test-form-container dashboard">
        
        <div class="form-wrapper">
            <h2>G Test Information</h2>

            <!-- License Input Section -->
            <form action="#" method="POST">
                <label for="licenseNumber">Enter License Number</label>
                <input type="text" id="licenseNumber" name="licenseNumber" maxlength="8" required placeholder="eg. AAA-001">
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    <!-- Scripts -->
    <%- include('layouts/general-script'); -%>
</body>
</html>
