<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/general-head'); -%>
    <body>
        <!-- Header/Navbar -->
        <%- include('layouts/general-header', { 'selectedItem': 'g2' } ); -%>

        <!-- G2 Test Section with hero image as background -->
        <section id="g2-dashboard" class="g2-form-container">
            <!-- Title on the left -->
            <div class="title">
                <br />
                <h5>G2 Test Registration</h5>
            </div>

            <!-- Form on the right -->
            <div class="form-wrapper">
                <h2>Personal Information</h2>

                <form action="g2-test/register" method="POST">
                    <!-- Personal Information Section -->
                    <div class="form-section">
                        <label for="firstName">First Name</label>
                        <input
                            type="text"
                            id="firstName"
                            name="firstName"
                            required
                            placeholder="eg. John"
                        />
                    </div>

                    <div class="form-section">
                        <label for="lastName">Last Name</label>
                        <input
                            type="text"
                            id="lastName"
                            name="lastName"
                            required
                            placeholder="eg. Doe"
                        />
                    </div>

                    <div class="form-section">
                        <label for="licenseNumber">License Number</label>
                        <input
                            type="text"
                            id="licenseNumber"
                            name="licenseNumber"
                            maxlength="8"
                            required
                            placeholder="XXXXXXXX"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                        />
                    </div>

                    <div class="form-section">
                        <label id="dob-label" for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob" required />
                    </div>
                    <br />
                    <!-- Horizontal rule between sections -->
                    <span class="error" id="personalInfoError"></span>
                    <hr />
                    <br /><br />
                    <h2>Car Information</h2>
                    <!-- Car Information Section -->
                    <div class="form-section">
                        <label for="make">Make</label>
                        <input
                            type="text"
                            id="make"
                            name="make"
                            required
                            placeholder="eg. Toyota"
                        />
                    </div>

                    <div class="form-section">
                        <label for="model">Model</label>
                        <input
                            type="text"
                            id="model"
                            name="model"
                            required
                            placeholder="eg. Corolla"
                        />
                    </div>

                    <div class="form-section">
                        <label for="year">Year</label>
                        <input
                            type="number"
                            id="year"
                            name="year"
                            required
                            placeholder="eg. 2020"
                            maxlength="4"
                        />
                    </div>

                    <div class="form-section">
                        <label for="plateNumber">Plate Number</label>
                        <input
                            type="text"
                            id="plateNumber"
                            name="plateNumber"
                            maxlength="7"
                            required
                            placeholder="AXXX001"
                            oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                        />
                    </div>
                    <span class="error" id="carInfoError"></span>
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </section>

        <!-- Scripts -->
        <%- include('layouts/general-script'); -%>
        <script src="/js/g2-test.js"></script>
        <script>
            window.userData = <%- JSON.stringify(user) %>;
        </script>
    </body>
</html>
