<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('layouts/general-head'); -%>
<body>
    <!-- Header/Navbar -->
    <%- include('layouts/general-header', { 'selectedItem': 'login' } ); -%>
    
    <!-- Dashboard Section with Hero Image -->
    <section id="login-dashboard" class="dashboard">
        <section class="content">
            <h2>Login Under Construction</h2>
            <p>This page is currently being developed.</p>
        </section>
    </section>

    <!-- Scripts -->
    <%- include('layouts/general-script'); -%>
</body>
</html>
