/* Importing Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

:root {
    color-scheme: light dark;
    --backgroundColor: light-dark(#f3f3f3, #17181a);

    --foregroundColor: light-dark(#000000, #ffffff);
    --secondaryForegroundColor: light-dark(
        rgba(0, 0, 0, 0.466),
        rgba(255, 255, 255, 0.494)
    );

    --primaryAccentColor: light-dark(#000000, #ffffff);

    --borderColor: light-dark(rgba(5, 5, 5, 0.39), rgba(255, 255, 255, 0.296));

    --blurBackground: light-dark(
        rgba(255, 255, 255, 0.88),
        rgba(24, 24, 24, 0.7)
    );

    --navForegroundColor: light-dark(#ffffff, #ffffff);
    --navSelectionForgroundColor: light-dark(black, black);

    --hoverBackgroundColor: light-dark(#ffffff52, #ffffff52);

    --errorLabelColor: rgb(226, 33, 33);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--foregroundColor);
    overflow-x: hidden;
    background-color: var(--backgroundColor);
    /* background-color: #141515; */
}

/* Navbar styling with background blur */
header {
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 15px 40px;
    backdrop-filter: blur(10px); /* Blur effect */
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.5px solid var(--borderColor);
}

h2,
span {
    color: var(--foregroundColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center; /* Ensures image and text are vertically aligned */
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%); /* Make logo white */
    vertical-align: middle; /* Fix alignment issue */
}

.logo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    color: var(--navForegroundColor);
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: var(--navForegroundColor);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}

.nav-links li a:hover {
    background-color: var(--hoverBackgroundColor);
    border-radius: 10px;
}

/* Navbar link active state */
.nav-links li a.active {
    background-color: var(--navForegroundColor);
    color: var(--navSelectionForgroundColor);
    border-radius: 10px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--navForegroundColor);
    margin: 3px;
    border-radius: 5px;
}

/* Dashboard Section with Hero Image */
.dashboard {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

#home-dashboard {
    background: url("../assets/hero-with-overlay.webp") no-repeat center
        center/cover;
}

#g-dashboard {
    background: url("../assets/driving-road.webp") no-repeat center center/cover;
    justify-content: start;
}

#g2-dashboard {
    background: url("../assets/driving2-road.webp") no-repeat center
        center/cover;
}

#login-dashboard {
    background: url("../assets/car-console.webp") no-repeat center center/cover;
    justify-content: normal;
    padding-top: 150px;
    padding-bottom: 30px;
}

.dashboard h1 {
    font-size: 60px;
    font-weight: 700;
}

.dashboard p {
    font-size: 20px;
    font-weight: 400;
}

/* Booking Info Section */
.booking-info {
    text-align: center;
    padding: 40px 20px;
}

.booking-info h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.booking-info p {
    font-size: 18px;
    font-weight: 400;
}

.booking-info .posted {
    font-size: 16px;
    color: var(--secondaryForegroundColor);
}

.booking-info .posted span {
    font-weight: 700;
    color: var(--secondaryForegroundColor);
}

/* G2 Form Section */
.g2-form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 10%;
    background: url("../assets/hero-with-overlay.webp") no-repeat center
        center/cover;
    height: 100%;
}

.g2-form-container .title {
    flex: 1;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 35vh;
}

.g-test-form-container .form-wrapper {
    background: var(--blurBackground); /* Semi-transparent background */
    /* padding: 40px; */
    border-radius: 30px;
    max-width: 600px;
    margin: 0;
    backdrop-filter: blur(10px) saturate(200%); /* Blur effect */
    border: 0.5px solid var(--borderColor);
}

.g2-form-container .form-wrapper {
    flex: 1;
    background: var(--blurBackground); /* Semi-transparent background */
    padding: 40px;
    border-radius: 30px;
    max-width: 600px;
    margin: 0;
    backdrop-filter: blur(10px) saturate(200%); /* Blur effect */
    margin-top: 50px;
    border: 0.5px solid var(--borderColor);
}

.form-wrapper {
    background: var(--blurBackground); /* Semi-transparent background */
    padding: 30px;
    border-radius: 30px;
    /* max-width: 600px; */
    margin: 0;
    backdrop-filter: blur(10px) saturate(200%); /* Blur effect */
    border: 0.5px solid var(--borderColor);
}

.g2-form-container h2 {
    color: var(--foregroundColor);
    font-size: 24px;
    margin-bottom: 20px;
}

.g2-form-container .form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.g2-form-container label {
    color: var(--foregroundColor);
    width: 100%;
    font-size: 16px;
}

.g2-form-container input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--foregroundColor);
    font-size: 16px;
}

/* Horizontal rule between sections */
.g2-form-container hr {
    border: 0.5px solid var(--borderColor);
    margin: 20px 0;
}

.g2-form-container button {
    width: 100%;
    padding: 12px;
    background-color: var(--primaryAccentColor);
    color: var(--backgroundColor);
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}
#g-dashboard {
    color: var(--foregroundColor);
}

.disabledInput {
    opacity: 0.6;
}

.successBackgroundColor {
    color: white;
    background-color: green;
}

.failureBackgroundColor {
    color: white;
    background-color: rgb(145, 4, 4);
}

a {
    color: var(--foregroundColor);
    text-decoration: none;
}

/* General Form Input Styling */
input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.063);
    color: var(--foregroundColor);
    font-size: medium;
    font-family: "Poppins", sans-serif;
}

input[type="text"]:focus {
    border: 1px solid var(--foregroundColor);
}

/* General Button Styling */
button {
    width: 50%;
    padding: 12px;
    background-color: var(--foregroundColor);
    color: var(--backgroundColor);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    scale: 1.05;
}

.error {
    color: var(--errorLabelColor);
    text-align: left;
}

#licenseNumberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    padding: 1px 5px;
    margin: 20px 30px;
}

#g-form #licenseNumber {
    border: none;
    margin: 0;
    min-width: 200px;
    color: var(--foregroundColor);
    background-color: #00000000;
}

#g-form-wrapper {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 0;
    padding-top: 20px;
}

#g-error {
    margin: 20px;
}

#searchResult {
    margin: 30px;
}

.search-form-wrapper {
    margin: 30px;
}

.search-form-wrapper .user-info {
    display: flex;
    align-items: center;
}

.search-form-wrapper .form-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form-wrapper .form-section input {
    margin: 20px 0px;
    width: 60%;
}

#edit-user-form h2 {
    text-align: left;
}

.inputLabelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.genericLabelForInput {
    text-align: left;
    margin-right: 30px;
    color: var(--foregroundColor);
}

.genericInput {
    /* width: 100%; */
    /* width: auto; */
}

.fullWidthGenericButton {
    /* width: 100%; */
}

.generic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.side-picture {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    object-fit: cover;
}

.dropdown {
    height: 45px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.063);
    border: 1px solid var(--borderColor);
    font-family: "Poppins", sans-serif;
    appearance: none;
}

#name-item {
    width: 40px;
    height: 40px;
    /* padding: 10px; */
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 12px;
    display: inline-block;
    background-position: bottom;
    border: 1px solid var(--borderColor);
}

#logged-in-user-item {
    display: flex;
    align-items: center;
}

#logged-in-user-item a {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
}

#logged-in-user-item a:hover {
   background-color: rgba(149, 11, 11, 0.364);
}

/* Responsive Design */
@media (max-width: 970px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 40px;
        border-radius: 20px;
        padding: 10px;
        backdrop-filter: blur(20px); /* Blur effect */
        -webkit-backdrop-filter: blur(20px);
        background: rgba(45, 45, 45, 0.878); /* Semi-transparent background */
        align-items: normal;
        border: 0.5px solid var(--borderColor);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    /* .dashboard {
        height: 100%;
    } */

    .dashboard h1 {
        font-size: 40px;
    }

    .dashboard p {
        font-size: 18px;
    }

    .booking-info h2 {
        font-size: 24px;
    }

    .booking-info p {
        font-size: 16px;
    }

    .form-wrapper {
        max-width: 100%;
        width: 90%;
        margin: 30px;
    }

    h2 {
        font-size: 22px;
    }

    label {
        font-size: 14px;
    }

    input,
    button {
        font-size: 14px;
    }

    /* Specific G2 Page Adjustments */
    .g2-form-container {
        flex-direction: column;
        padding: 30px;
    }

    .title {
        font-size: 40px;
        text-align: center;
        padding: 20px 0;
    }

    .form-section {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        width: 100%;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
    }

    /* G2 Form Section */
    .g2-form-container {
        align-items: center;
    }

    .g2-form-container .title {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    #g-form-wrapper {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .search-form-wrapper .form-section {
        flex-direction: row;
    }

    .search-form-wrapper .form-section label {
        width: auto;
    }

    .generic-flex {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .side-picture {
        width: auto;
        height: 400px;
    }
}

@media (max-width: 480px) {
    .dashboard h1 {
        font-size: 30px;
    }

    .booking-info h2 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    input,
    button {
        font-size: 12px;
    }
}
